<h1>Benvenuto in App Component per Conversioni</h1>

<nav>
    <ul>
        <li><a routerLink="/elenco" routerLinkActive="active">Elenco Convertitori</a></li>
        <li><a routerLink="/nuovo" routerLinkActive="active">Aggiungi Convertitore</a></li>
        <li><a routerLink="/selezione" routerLinkActive="active">Selezione Convertitore</a></li>
    </ul>
    
    
    
</nav>

<router-outlet></router-outlet>

<!--
        Configurazione Single Page Application

<button (click)="apriConvertitori()">Mostra Convertitori</button>

<button (click)="apriCalcolatore()">Mostra Calcolatore</button>




<span *ngIf="mostraConvertitori; then convertitori else calcolatore"></span>

    <ng-template #convertitori> 
        <app-convertitori></app-convertitori>
    </ng-template>
    
    <ng-template #calcolatore>
        <app-selezione></app-selezione>
    </ng-template>

    <app-nuovo-convertitore></app-nuovo-convertitore>
-->

